<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>Home</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
        </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
        </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
         .card{
            background-color: rgb(138, 248, 239);
    }
    .card{
            box-shadow:20px 16px 18px 0 rgba(85, 50, 50, 0.2); 
            border-radius: 20px;
            transition: 0.3s;
            padding: 20px;
            display: inline-box;
            margin: 2%;
    }
    
    .card:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .modalbtn{
        text-align: end;
    }
    
    .btn-primary-outline {
            background-color: transparent;
            border-color:transparent;
        }
        .user-info-btn,.modalRemove {
            
            font-size: 25px;
            text-align: end;
        }
        

    h3{
        font-family: Arial, Helvetica, sans-serif;
    }  

    .info{
        display: inline;
    }

    .content{
        padding: 5%;
    }
    .modal-title{
        font-size: 25;
        text-align: left;
    }
    .modal-footer{
        
    }.user-popup-links{
        padding: 5%;
        
    }.dropDown-fields{
        margin:4%;
    }
    </style>

    </head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="topheader">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MyMail</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{#router "/Inbox"}}Inbox{{/router}}

                    {{#router "/Composer"}}Composer{{/router}}

                    {{#router "/sent"}}Sent{{/router}}
                    {{#router "/archived"}}Archived{{/router}}
                    
                    
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                   {{#router "/logout"}}Logout{{/router}}
                </ul>
            </div>
</div>
        </div>
    </nav>

    {{{body}}}

</body>

</html>