<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>Home</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
        </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
        </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
        .button{
            
        }
    </style>
    
    <title>SignUp</title>
    

</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h1 class="display-3">Add User</h1>
                <br />
                <form action="/asignup" method="POST" class="form-group">
                    <fieldset>
                        <legend>Personal Information</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="usr">First Name: </label>
                                    <input type="text" name="firstName" class="form-control" placeholder="Firstname">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" name="lastName" class="form-control" placeholder="Lastname"
                                        autocomplete="lastname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{#if data.error}} <div class="alert alert-danger">{{data.error}}</div>{{/if}}
                                    <label for="usr">Email: </label>
                                    <input type="email" name="userName" class="form-control" placeholder="UserName"
                                        autocomplete="lastname">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="usr">Password</label>
                                    <input type="password" name="password" class="form-control" autocomplete="lastname">
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="usr">Confirm Password</label>
                                    <input type="password" class="form-control" autocomplete="lastname">
                                </div>
                            </div>

                        </div>

                        
                        <br />
                        <div class="button">
                            <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                            <button class="btn btn-lg btn-primary">{{#router "/"}}Login{{/router}}</button>
                        </div>
                            


                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</body>

</html>